* {
    box-sizing: border-box;
}

body {
    font-family:  Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #4321a9;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.gallery-section img {
    width: 220px;
    cursor: pointer;
}

button img {
    width: 20px;
    height: 20px;
}

.editor-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}



.editor-controls {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


